<label><input type="checkbox" class="map">Map</label>
<a class="h5 inline-block button button-small white bg-red rounded cancel ml1">
  <i class="fa fa-times"></i>
</a>
<a class="h5 inline-block button button-small white bg-green rounded draw ml1">
  <i class="fa fa-check"></i>
</a>