<div class="flash ml1 mr1 relative" style="width:80%;height:65%">
<a class="close absolute z1" style="right:1rem;top:1rem"><i class="fa fa-times fa-lg"></i></a>
<div class="d3-container shrink overflow-hidden"></div>
</div>