<div class="shrink">
  <header class="z4 bg-dark-gray full-width">
    <nav>
      <a class="close button button-narrow button-nav-dark m1"><i class="fa fa-times fa-lg"></i></a>      
      <a class="edit button button-narrow button-nav-dark m1"><i class="fa fa-edit fa-lg"></i></a>
      <a class="save hidden button button-narrow button-nav-dark m1"><i class="fa fa-save fa-lg"></i></a>      
      <a class="destroy button button-narrow button-nav-dark m1"><i class="fa fa-trash-o fa-lg"></i></a>      
    </nav>
    
    <div class="clearfix border-bottom mt2 px1 tabs">
      <a href="#!" class="left button button-nav-tab button-nav-dark is-active" ref="body">Body</a>
      <a href="#!" class="left button button-nav-tab button-nav-dark" ref="meta">Meta</a>      
    </div>
    
  </header>  
  
  <form class="{{name}} shrink overflow-auto">    
    <div class="table">
      <div class="table-row">
        <textarea disabled name="body" class="p2 field-dark table-cell full-width code" spellcheck="false">{{attributes.body}}</textarea>                
        <textarea disabled name="meta" class="p2 field-dark table-cell full-width code hidden" spellcheck="false">{{meta}}</textarea>
      </div>
    </div>
  </form>
  

</div>