<div class="shrink">
  <header class="z4 bg-dark-gray full-width">
    <nav>
      <a class="close button button-narrow button-nav-dark m1"><i class="fa fa-times fa-lg"></i></a>      
      <a class="edit button button-narrow button-nav-dark m1"><i class="fa fa-edit fa-lg"></i></a>
      <a class="save hidden button button-narrow button-nav-dark m1"><i class="fa fa-save fa-lg"></i></a>      
      <a class="destroy button button-narrow button-nav-dark m1"><i class="fa fa-trash-o fa-lg"></i></a>      
    </nav>
  </header>  
  
  <form class="{{name}} shrink overflow-auto">
    <div class="table">
      <div class="table-row">
        <textarea disabled name="{{name}}" class="p2 field-dark table-cell full-width code" spellcheck="false">{{code}}</textarea>
      </div>
    </div>
  </form>
  

</div>