<strong>Hint:</strong> To edit texts with multiple lines just double click "key" to expand the "value" in a separate tab, when you save the tab content with <code class="inline-block px1 mid-gray h6">⌘+s</code> it will be updated everywhere.