<code class="inline-block px1 mid-gray h6">⌘+s</code> to search, 
<code class="inline-block px1 mid-gray h6">⌘+⇧+s</code> to cumulative search
<div class="clearfix border-bottom mt2">
  <a href="#!" class="left button button-nav-tab where is-active" onclick="$(this).parent().find('.is-active').removeClass('is-active');$('.tab').addClass('hide');$(this).addClass('is-active');$('.tab-where').removeClass('hide')">Where</a>
  <a href="#!" class="left button button-nav-tab distinct" onclick="$(this).parent().find('.is-active').removeClass('is-active');$(this).addClass('is-active');$('.tab').addClass('hide');$('.tab-distinct').removeClass('hide')">Distinct</a>
  <a href="#!" class="left button button-nav-tab complex" onclick="$(this).parent().find('.is-active').removeClass('is-active');$(this).addClass('is-active');$('.tab').addClass('hide');$('.tab-complex').removeClass('hide')">Complex</a>
</div>
<pre contenteditable class="block p1 bg-dark-gray mid-gray  mb0 tab tab-where">
{
  "table_name": "table_name",
  "query": {
    "where": {
      "age": [ "<=", 10 ],
      "not": { 
              "email": [ "ilike", "saffron_burrows%"]
        }              
    }
  }
}
</pre>
<pre contenteditable class="block p1 bg-dark-gray mid-gray  mb0 tab tab-distinct hide">
{
  "table_name":"table_name",
  "query":{
    "select": "COUNT(id)",
    "distinct":"path"
  }
}
</pre>
<pre contenteditable class="block p1 bg-dark-gray mid-gray  mb0 tab tab-complex hide">
{
  "table_name":"table_name",
  "query":{
    "select": "EXTRACT('hours' from __timestamp(data,'created_at')) as time, __string(data,'path') as path, COUNT(id) as count",
    "where": {"raw":"DATE_TRUNC('day',__timestamp(data,'created_at')) =DATE_TRUNC( 'day',now())"},      
    "group_by": "time, path",
    "order_by": "time"  
  }
}
</pre>