<div class="flex flex-1 fix-96 border-right">
  <ul class="sidebar-nav list-reset center mt4">
    <li class="mb5"><div class="logo bg-yellow darken-4 inline-block p1">A.io</div></li>
    <li><a href="/clients" title="Clients" class="clients"><i class="fa fa-key fa-lg"></i></a></li>
    <li><a href="/models" title="Models" class="models"><i class="fa fa-cubes fa-lg"></i></a></li>
    <li><a href="/templates" title="Templates" class="templates"><i class="fa fa-files-o fa-lg"></i></a></li>
    <li><a href="/live" title="Live" class="live"><i class="fa fa-flash fa-lg"></i></a></li>
    <li><a href="/search" title="Search" class="search"><i class="fa fa-search fa-lg"></i></a></li>
    <li><a href="/signout" title="Signout" class="signout"><i class="fa fa-sign-out fa-lg"></i></a></li>
  </ul>  
</div>
