<div class="clearfix white bg-dark-gray full-width z4">

  <!-- <div class="clearfix sm-hide"></div> -->
  <div class="overflow-hidden px2 py1 form-items">
    <input id="searchbox" type="text" class="mb0 left fit field-dark" placeholder="Search">
    <span class="inline-block button button-small white bg-yellow h4 rounded count ml1">0 records</span>
    <span class="filters"></span>
  </div>

  
</div>
<div class="overflow-auto full-width shrink">  
  <table class="table table-light mb2">  
    <thead>
      <tr></tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>