<div class="full-width relative m0 table-container" style="overflow-x:auto">  
  <table class="table table-light mb2">  
    <thead>
      <tr></tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>