<div class="flex-container flex-left">
  {{> nav}}
  
  <div class="flex flex-5 overflow-auto">
    
    <div class="clearfix white bg-dark-gray full-width z4">
  
      <div class="overflow-hidden px2 mt1 form-items">
        <input id="searchbox" type="text" class="mb0 left fit field-dark" placeholder="Search">
        <span class="inline-block button button-small white yellow h4 rounded record_count">0 records</span>
      </div>
      
      <div class="filters clearfix px1 mb1"></div>            
  
    </div>
  
  {{> table }}
  </div>
  
</div>