<div class="flex-container flex-left">
  {{> nav}}
  
  <div class="flex flex-5 overflow-auto">
    
    <div class="search-header clearfix white bg-dark-gray full-width z4">

      <div id="searcharea">
        <textarea class="field-dark full-width mb0" placeholder="Search">{
  "table_name": "table_name"
}</textarea>
      </div>
  
      <div class="overflow-hidden px2 form-items">
        <input id="searchbox" type="text" class="mb0 left fit field-dark" placeholder="Filter">
        <a class="button button-narrow button-nav-dark toggle-search"><i class="fa fa-chevron-up"></i></a>        
        <a class="button button-narrow button-nav-dark help"><i class="fa fa-question"></i></a>
        <a class="button button-narrow button-nav-dark tbl"><i class="fa fa-list-alt"></i></a>        
        <a class="button button-narrow button-nav-dark d3" data-ns="C3" data-name="Pie"><i class="fa fa-pie-chart"></i></a>        
        <a class="button button-narrow button-nav-dark d3" data-ns="C3" data-name="Line"><i class="fa fa-line-chart"></i></a>
        <span class="inline-block button button-small white yellow h4 rounded record_count">0 records</span>
      </div>
      
      <div class="filters clearfix px1 mb1 relative z2"></div>      

  
    </div>
    
  {{> table }}

</div>