<div class="flex-container flex-center" >

  <form action="/signin" method="post" class="signin sm-col-6 p2 border" data-remote="true" data-callback="redirect">

    <legend class="h2 bold mb1">Signin</legend>
  
    <label>Email</label>
    <input type="email" name="user[email]" class="block full-width field-light mb2 not-rounded">
  
    <label>Password</label>
    <input type="password" name="user[password]" class="block full-width field-light mb2 not-rounded">

    <button type="sumbit" class="button-blue mb1 not-rounded">Submit</button>
    
  </form>
  
</div>